[submodule "imports/ramulator"]
	path = imports/ramulator
	url = https://github.com/bespoke-silicon-group/ramulator
[submodule "imports/DRAMSim3"]
	path = imports/DRAMSim3
	url = https://github.com/bsg-external/DRAMsim3
