*.log
simv.daidir
simv.vdb
csrc
simv
*~
DVEfiles
*.vpd
*.vcd
ucli.key
*.swp
.nfs*
*.pyc
libdramsim3.so

# Lab specific
*.fsdb
novas.conf
novas.rc
verilog.dump
results.xml
sim_build/

# Verdi session and configuration files
Verdi.ses*
signal.rc
verdiLog/
